name: Docker

on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: docker.io
  IMAGE_NAME: nizar968/api

jobs:
  build:
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: nizar968
          password: ${{ secrets.DOCKER_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout api repository
        uses: actions/checkout@v3
        with:
          repository: nizar-i/example-argocd
          token:  ${{ secrets.PAT_TOKEN }}

      - name: Setup yq
        uses: dcarbone/install-yq-action@v1.1.1

      - name: update api image tag
        run: >-
          TAG=$(echo "${{needs.build.outputs.tags}}" | cut -d':' -f2)
          yq -i
          'with( .spec.generators[0].list.elements; select(all_c(.image-tag != env(TAG) )) | . += [{"image-tag": env(TAG)}])'
          argocd/api.yaml

      - name: deploy
        run: |-
          git status
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${{ secrets.AUTHOR_EMAIL }}"
          git commit -a -m "update api app"
          git push
